<div class="grid grid-flow-col gap-4">
	<a href="/projects" class="link link-hover">Projekte</a>
	<a href="/contact" class="link link-hover">Kontakt</a>
</div>
<div>
	<div class="grid grid-flow-col gap-4 -m-3">
		<a
			href="#github-profile"
			class=""
			x-on:click="scrollable = false, window.scrollTo({top: 0, behavior: 'smooth'})">
			<img src="/static/svg/github.svg" alt="GitHub" />
		</a>

		<div class="modal" id="github-profile">
			<div class="modal-box">
				<h3 class="font-bold text-lg">
					GitHub in einem neuen Tab öffnen?
				</h3>
				<div class="modal-action justify-center">
					<a
						href="#"
						onclick="window.open('https://www.github.com/dessher0', '_blank').focus();"
						x-on:click="scrollable = true"
						class="btn btn-success ml-4"
						>Ja</a
					>
					<a
						href="#"
						x-on:click="scrollable = true"
						class="btn btn-error"
						>Abbrechen</a
					>
				</div>
			</div>
		</div>
		<!-- 		<a
			href="https://www.github.com/dessher0"
			target="_blank"
			rel="noopener noreferrer">
		</a> -->
	</div>
</div>
<div>
	<p>
		Copyright © {{ currentYear }} - Alle Rechte vorbehalten durch Maciej
		Kula
	</p>
</div>
