<!-- JS -->
<script src="/static/dist/js/script.js"></script>

<!-- Awesome Fonts -->
<script src="https://kit.fontawesome.com/1d217afb8f.js" crossorigin="anonymous"></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<!-- OpenAI Page -->
<script>
    function showLoading() {
        var element1 = document.getElementById("TextResultButton");
        var element2 = document.getElementById("TextResultButtonIcon");

        element2.classList.replace("fa-arrow-right", "-m-1");
        element1.classList.add("loading");
    }
</script>

<!-- Scroll Button / All Pages -->
<script>
    // Get the button:
    var scroll_button = document.getElementById("scroll_button");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {

        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            scroll_button.classList.remove("ghost");
        } else {
            scroll_button.classList.add("ghost");
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTo({top: 0, behavior: 'smooth'}); // For Safari
        document.documentElement.scrollTo({top: 0, behavior: 'smooth'}); // For Chrome, Firefox, IE and Opera
    }
</script>

<!-- Success Toast - Contact Page -->
<script>
    function updateClassAndRemove() {
        var element = document.getElementById("success_toast");

        element.style.animationDuration = 5 + 's';
        element.classList.remove("ghost");

        setTimeout(removeElement, 5 * 1000, element);
    }

    function removeElement(element) {
        element.classList.add("ghost");
    }
</script>