{% extends 'layouts/layout.html' %} {% block header %}
<title>Gesendet! | Maciej Kula</title>
{% endblock %} {% block content %}
<section class="relative h-full">
	<div
		class="items-center justify-center h-full mx-auto animate__animated animate__fadeIn animate__delay-.3s">
		{% include 'parts/navbar.html' %}
		<div class="flex justify-center mt-28 py-8 lg:py-16 px-4">
			<div class="text-center">
				<h1
					class="text-6xl text-transparent bg-gradient-to-r from-pink-500 to-yellow-400 bg-clip-text font-extrabold animate__animated animate__lightSpeedInLeft">
					GESENDET!
				</h1>
				<p class="text-xl m-5">
					Ihre Mail wurde erfolgreich versendet.
					<span class="text-success font-bold"
						>Innerhalb von 24 Stunden</span
					>
					erhalten Sie eine Antwort.
				</p>
				<a
					href="/"
					class="btn bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none"
					>Zur Startseite</a
				>
			</div>
		</div>
	</div>
</section>
{% endblock %}
