{% extends 'layouts/layout.html' %} {% block content %}
<section class="relative h-full">
	<div
		class="justify-center mx-auto h-full animate__animated animate__fadeIn animate__delay-.3s">
		{% include 'parts/navbar.html' %}
		<div class="py-8 lg:py-16 px-4 mx-0 lg:mx-10">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center">
				Meine Projekte
			</h2>
			<div class="flex flex-col w-full lg:flex-row">
				<div
					class="grid sm:grid-rows-10 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-10">
					<div class="card">
						<div class="card-body bg-gray-100 items-center">
							<h3 class="card-title">Kinect (Computer Vision)</h3>
							<p class="text-center mt-2 mb-2">
								Ein Program, das Bewegungen in Computer-Inputs
								umwandelt.
							</p>
							<a
								href="#python-kinect-cv"
								class="btn modal-button bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none py-3 px-5 text-sm font-medium text-center rounded-lg sm:w-fit"
								x-on:click="scrollable = false, window.scrollTo({top: 0})">
								>Anschauen</a
							>
							<div class="modal" id="python-kinect-cv">
								<div class="modal-box w-11/12 max-w-6xl h-full">
									<div class="sticky top-0 z-10">
										<a
											href="#"
											class="btn btn-sm btn-circle absolute right-2 top-2"
											x-on:click="scrollable = true"
											>X</a
										>
									</div>
									<h2 class="text-2xl font-bold text-center">
										Kinect (Computer Vision)
									</h2>
									<div
										class="flex flex-col items-center justify-center">
										<h1>DEMNÄCHST</h1>
									</div>
									<div>
										<p class="text-center mt-10">
											Dieses Projekt ist noch in
											Entwicklung.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body bg-gray-100 items-center">
							<h3 class="card-title">Just Dodge (Spiel)</h3>
							<p class="text-center mt-2 mb-2">
								Ein Platform-Scroller-Spiel mit Pygame im purem
								Python-Code.
							</p>
							<a
								href="#just-dodge"
								class="btn modal-button bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none py-3 px-5 text-sm font-medium text-center rounded-lg sm:w-fit"
								x-on:click="scrollable = false, window.scrollTo({top: 0})">
								>Anschauen</a
							>
							<div class="modal" id="just-dodge">
								<div class="modal-box w-11/12 max-w-6xl h-full">
									<div class="sticky top-0 z-10">
										<a
											href="#"
											class="btn btn-sm btn-circle absolute right-2 top-2"
											x-on:click="scrollable = true"
											>X</a
										>
									</div>
									<h2 class="text-2xl font-bold text-center">
										Just Dodge (Spiel)
									</h2>
									<div
										class="flex flex-col items-center justify-center">
										<h1>DEMNÄCHST</h1>
									</div>
									<div>
										<p class="text-center mt-10">
											Dieses Projekt ist noch in
											Entwicklung.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body bg-gray-100 items-center">
							<h3 class="card-title">Zeitdilatationsrechner</h3>
							<p class="text-center mt-2 mb-2">
								Ein Rechner für die Zeit von sich schnell
								bewegenden Objekten.
							</p>
							<a
								href="#time-dilation-calculator"
								class="btn modal-button bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none py-3 px-5 text-sm font-medium text-center rounded-lg sm:w-fit"
								x-on:click="scrollable = false, window.scrollTo({top: 0})">
								>Anschauen</a
							>
							<div class="modal" id="time-dilation-calculator">
								<div class="modal-box w-11/12 max-w-6xl h-full">
									<div class="sticky top-0 z-10">
										<a
											href="#"
											class="btn btn-sm btn-circle absolute right-2 top-2"
											x-on:click="scrollable = true"
											>X</a
										>
									</div>
									<h2 class="text-2xl font-bold text-center">
										Zeitdilatationsrechner
									</h2>
									<div
										class="flex flex-col items-center justify-center">
										<h1>DEMNÄCHST</h1>
									</div>
									<div>
										<p class="text-center mt-10">
											Dieses Projekt ist noch in
											Entwicklung.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body bg-gray-100 items-center">
							<h3 class="card-title">OpenAI API</h3>
							<p class="text-center mt-2 mb-2">
								Eine OpenAI-API verbunden über Python mit der
								Website.
							</p>
							<a
								href="#openai-api"
								class="btn modal-button bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none py-3 px-5 text-sm font-medium text-center rounded-lg sm:w-fit"
								x-on:click="scrollable = false, window.scrollTo({top: 0})">
								>Anschauen</a
							>
							<div class="modal" id="openai-api">
								<div class="modal-box w-11/12 max-w-6xl h-full">
									<div class="sticky top-0 z-10">
										<a
											href="#"
											class="btn btn-sm btn-circle absolute right-2 top-2"
											x-on:click="scrollable = true"
											>X</a
										>
									</div>
									<h2 class="text-2xl font-bold text-center">
										OpenAI API
									</h2>
									<div
										class="flex flex-col items-center justify-center">
										<h1>DEMNÄCHST</h1>
									</div>
									<div>
										<p class="text-center mt-10">
											Dieses Projekt ist noch in
											Entwicklung.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body bg-gray-100 items-center">
							<h3 class="card-title">Meine Website</h3>
							<p class="text-center mt-2 mb-2">
								Diese Website, gebaut mit dem Python-Framework
								(Flask) und TailwindCSS.
							</p>
							<a
								href="#my-website"
								class="btn modal-button bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none py-3 px-5 text-sm font-medium text-center rounded-lg sm:w-fit"
								x-on:click="scrollable = false, window.scrollTo({top: 0})">
								>Anschauen</a
							>
							<div class="modal" id="my-website">
								<div class="modal-box w-11/12 max-w-6xl h-full">
									<div class="sticky top-0 z-10">
										<a
											href="#"
											class="btn btn-sm btn-circle absolute right-2 top-2"
											x-on:click="scrollable = true"
											>X</a
										>
									</div>
									<h2 class="text-2xl font-bold text-center">
										Meine Website
									</h2>
									<div
										class="flex flex-col items-center justify-center">
										<h1>DEMNÄCHST</h1>
									</div>
									<div>
										<p class="text-center mt-10">
											Dieses Projekt ist noch in
											Entwicklung.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body bg-gray-100 items-center">
							<h3 class="card-title">Neurales Netzwerk</h3>
							<span class="text-error font-bold"
								>(Work in Progress)</span
							>
							<p class="text-center mt-2 mb-2">
								Ein einfaches Neuronales Netzwerk gebaut in
								Python.
							</p>
							<a
								href="#neural-network"
								class="btn modal-button bg-gradient-to-r from-pink-500 to-yellow-400 text-base-100 border-none py-3 px-5 text-sm font-medium text-center rounded-lg sm:w-fit"
								x-on:click="scrollable = false, window.scrollTo({top: 0})">
								>Anschauen</a
							>
							<div class="modal" id="neural-network">
								<div class="modal-box w-11/12 max-w-6xl h-full">
									<a
										href="#"
										class="btn btn-sm btn-circle absolute right-2 top-2"
										x-on:click="scrollable = true"
										>X</a
									>
									<h2 class="text-2xl font-bold text-center">
										Neurales Netzwerk
									</h2>
									<div
										class="flex flex-col items-center justify-center">
										<h1>DEMNÄCHST</h1>
									</div>
									<div>
										<p class="text-center mt-10">
											Dieses Projekt ist noch in
											Entwicklung.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
		url = 'http://localhost:5001/projects'
		window.location.href = url
	}
</script>
{% endblock %}
