{% extends 'layout.html' %}

{% block content %}
<div class="container justify-content-center">
    <h1 class="display-3 mt-5 text-center fw-bold">OpenAI Environment</h1>

    <br>

    <div class="card">
        <div class="card-body">
            <form class="" action="/openai" method="post">
                <div class="row box">
                    <div class="col">
                        <textarea class="form-control" style="resize: none;" id="TextResult" name="TextResult" cols="80"
                            rows="10"
                            placeholder="Enter your task / question for the AI.">{{input_text|safe}}</textarea>
                    </div>
                    <div class="col-2 text-center">
                        <div class="row align-items-center h-100">
                            <div class="col">
                                <input type="hidden" name="form_1" value="form_1">
                                <button type="submit" id="TextResultButton" class="btn btn-primary w-50">
                                    <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <textarea readonly class="form-control" style="resize: none;" cols="80" rows="10"
                            placeholder="Your result will be displayed here.">{{Result|safe}}</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}