{% extends 'layouts/layout.html' %}

{% block content %}
<section class="relative">
    <div class="container justify-center mx-auto h-screen">
        <h1 class="text-3xl font-bold text-center mt-5">OpenAI Environment</h1>
        <div class="flex flex-col w-full lg:flex-row">
            <div class="card grid bg-gray-100 mt-10 flex-grow">
                <div class="card-title">
                    <h1 class="text-2xl font-bold text-center mt-5 ml-5">Input</h1>
                </div>
                <form class="" action="/openai" method="post">
                    <div class="card-body">
                        <textarea class="focus:outline-none resize-none w-full bg-gray-100" id="TextResult" name="TextResult"
                            rows="15"
                            placeholder="Enter your task / question for the AI.">{{input_text|safe}}</textarea>
                    </div>
                    <div class="card-actions justify-end mb-5 mr-5">
                        <input type="hidden" name="form_1" value="form_1">
                        <button type="submit" id="TextResultButton" class="btn px-10">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
    
            <div class="divider lg:divider-horizontal ghost"></div>
    
            <div class="card grid bg-gray-100 mt-10 flex-grow">
                <div class="card-title">
                    <h1 class="text-2xl font-bold text-center mt-5 ml-5">Output</h1>
                </div>
                <div class="card-body">
                    <textarea readonly class="focus:outline-none resize-none w-full bg-gray-100""
                        rows="15"
                        placeholder="">{{Result|safe}}</textarea>
                </div>
                <div class="card-actions justify-end mb-5 mr-5 ghost">
                    <input type="hidden">
                    <button type="" class="btn px-10">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}