<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">

{% include "parts/header.html" %}

<body class="flex flex-col h-screen bg-base-100 font-sans leading-normal tracking-normal"></body>
<div class="flex items-center justify-center h-full -mt-10">
    <div class="text-center">
        <h1 class="text-5xl lg:text-7xl font-extrabold animate__animated animate__hinge animate__delay-1s">DEMNÄCHST</h1>
        <a href="/" class="btn bg-gradient-to-r from-pink-500 to-yellow-400 border-none mt-10 animate__animated animate__rubberBand">Zur Startseite</a>
    </div>
</div>
</body>