{%block header%}
<!DOCTYPE html>
<html lang="de" dir="ltr" data-theme="light">

{% include 'parts/header.html' %}

{% endblock %}

<body class="flex flex-col h-screen bg-base-100 font-sans leading-normal tracking-normal">
    {% include 'parts/navbar.html' %}
    {% block content %}

    {% endblock %}
    {% include 'parts/scroll_button.html' %}
</body>

<footer class="footer footer-center p-4 bg-base-200 text-base-content rounded mt-32">
    {% include 'parts/footer.html' %}
</footer>

{% include 'parts/scripts.html' %}

</html>