<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">

{% include 'parts/header.html' %}

<body class="flex flex-col h-screen bg-base-100 font-sans leading-normal tracking-normal"></body>
<div class="flex items-center justify-center h-full -mt-10">
    <div class="text-center">
        <h1 class="text-8xl text-transparent bg-gradient-to-r from-pink-500 to-yellow-400 bg-clip-text font-bold">OOPS!</h1>
        <p class="text-xl m-5 animate__animated animate__headShake">
            Haben Sie sich vertippt?
            <span class="text-error font-bold">Falls nicht klicken sie auf weiter.</span>
        </p>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn bg-gradient-to-r from-pink-500 to-yellow-400 border-none">Weiter</a>
    </div>
</div>
</body>