<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">
	{% include 'parts/header.html' %}

	<body
		class="flex flex-col h-screen bg-base-100 font-sans leading-normal tracking-normal">
		<div class="flex items-center justify-center h-full -mt-10">
			<div class="text-center">
				<h1
					class="text-8xl text-transparent bg-gradient-to-r from-pink-500 to-yellow-400 bg-clip-text font-bold">
					429
				</h1>
				<p class="text-xl m-5 animate__animated animate__headShake">
					<span class="text-error font-bold">Oops!</span>
					Zu viele Anfragen. Bitte versuchen Sie es später noch
					einmal.
				</p>
				<a
					href="/"
					class="btn bg-gradient-to-r from-pink-500 to-yellow-400 border-none"
					>Zur Startseite</a
				>
			</div>
		</div>
	</body>
</html>
